<h1>Encrypt</h1>
<div class="wrapper">
  <div class="encrypt">
    <div class="string_entry">
      <label for="inputStringt"> Input String :</label>
      <textarea name="inputString" id="inputString" rows="5" (input)="getString($event,'stringToEncrypt')" ></textarea>
    </div>
    <div class="secret_key">
      <label for="secretKey">Secret Key :</label>
      <input type="text" name="secretKey" id="secretKey" (input)="getString($event, 'secretKey')"  >
    </div>
    <div class="input_vector">
      <label for="inputVector">Input Vector :</label>
      <input type="text" id="inputVector" name="inputVector" (input)="getString($event, 'inputVector')" >
    </div>
  </div>
  <div class="decrypt">
    <label for="encrypt"> Encrypted String :</label>
    <textarea name="encrypt" id="encrypt" rows="5" readonly  [value]="encryptedStringAfterEncryption" ></textarea>
  </div>
</div>
<div class="button-container">
  <button (click)="encrypt()" data-name="encrypt" >Encrypt</button>
</div>
<h1>Decrypt</h1>
<div class="wrapper">
  <div class="encrypt">
    <div class="string_entry">
      <label for="inputStringt"> Encrypted String :</label>
      <textarea name="inputString" id="inputString" rows="5" (input)="getString($event,'stringToDecrypt')" ></textarea>
    </div>
    <div class="secret_key">
      <label for="secretKey">Secret Key :</label>
      <input type="text" name="secretKey" id="secretKey" (input)="getString($event, 'secretKey')" >
    </div>
    <div class="input_vector">
      <label for="inputVector">Input Vector :</label>
      <input type="text" id="inputVector" name="inputVector" (input)="getString($event, 'inputVector')" >
    </div>
  </div>
  <div class="decrypt">
    <label for="encrypt"> Decrypted String :</label>
    <textarea name="encrypt" id="encrypt" rows="5" readonly [value]="encryptedStringAfterDecryption"  ></textarea>
  </div>
</div>
<div class="button-container">
  <button (click)="decrypt()" data-name="decrypt" >Decrypt</button>
</div>